<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NTI x iVolve Graduation Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1 class="title">DevOps Graduation Project</h1>
            <h2 class="subtitle">In Collaboration with DEPI </h2>
            <p class="description">
                This project is the capstone of an intensive DevOps technical track at the 
                <strong>Digital Egypt Pioneers Initiative (DEPI)</strong>. It showcases the 
                implementation of end-to-end CI/CD pipelines, infrastructure automation, 
                and scalable cloud solutions to streamline the software delivery lifecycle.
            </p>
        </div>
        
    </div>
</body>
</html>

